[Unit]
Description=Boot Sound
After=sound.target

[Service]
Type=simple
ExecStart=/usr/bin/aplay -D plughw:0,0 /boot/boot-sound.wav

[Install]
WantedBy=multi-user.target
