[Unit]
Description=Boot Sound
After=sound.target

[Service]
Type=simple
ExecStart=/usr/bin/pw-play /usr/share/bootsound/boot-sound

[Install]
WantedBy=multi-user.target
