[Unit]
Description=Play sound at shutdown
After=sound.target
Conflicts=reboot.target halt.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/usr/bin/aplay -D plughw:0,0 /boot/shutdown-sound.wav

[Install]
WantedBy=multi-user.target
